/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #e2e3ed;
    font-size: 16px;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
/*--------------------  MOBILE STYLES --------------------*/

/*-------------------- BASE STYLES --------------------*/

html {
    font-size: 16px;
}

body {
    color: #f7f5f5;
    font-family: 'Open Sans', Sans-Serif;
    font-size: 1em;
    margin: 0;
}

ul, 
ol {
  list-style-type: none;
}

li,
a {
    text-decoration: none;
    font-weight: lighter;
  }

a {
    color: white;
}


.content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*-------------------- GLOBAL | HEADER & FOOTER --------------------*/

/* HEADER */

nav ul li a:link, a:visited {
    display: flex;
    font-size: 1em;
    text-decoration: none;
    font-weight: lighter;
    color: white;
}

a:hover, i:hover {
    color: #ED553B;
 }
 
nav,
nav ul {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    background-color: #263948;
    width: 100%;
    justify-content: space-evenly;
    
}

li a,
i {
    color: white;
}

.header-divider { 
    width: 100%;
    height: 1px;
    margin: 0;
    border-top: solid 1px gray;
}

/* FOOTER */

.contact {
    background-color: #263948;
    display: flex;
    padding-top: 50px;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1.25rem;
} 

.footer-wrapper {
    display: flex;
    width: 80%;
    flex-flow: row wrap;
    justify-content: center;
}

.connect {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 3% 0;
}

.connect h2 { 
    margin: 17.5px;
}

.social-links,
.email {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1em;
    margin: 0;
}

.social-links  {
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 50%;
    color: white;
}

.copyright {
    width: 100%;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    font-size: .5em;
}

.email p a {
    color: white;
}

.email p a:hover {
    color: #ED553B;
 }

 form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: flex;
    width: 100%;
  }
  
  input, 
  textarea {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
    color: #263948;
  }
  
  input:focus, 
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;  
    height: 5em;
  }
    
  button {
    color: #263948;
    margin: 0;
    display: flex;
    justify-content: center;
    
  }

/* -------------- HOMEPAGE -------------- */
      
/* Hero Area */

.hero {
    display: flex;
    background-size: cover;
    background: url(../img/hero.png) center top no-repeat black;    
    flex-flow: row nowrap;
    background-color: #263948;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
}

.hero h1 {
    color: white;
    font-size: 2.25em;
    font-weight: bold;
    padding: 10% 5% 20% 5%;
    margin: 10% 0 10% 0;
    width: 90%;
    justify-content: center; 
    text-align: center;

}

#jake {
    color: #ED553B;
}


/* PORTFOLIO */

.portfolio {
    background-color: #263948;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
    padding-bottom: 5%;
}

.portfolio h2 {
    margin: 10% 0 0 0;
    justify-content: center;
    display: flex;
    width: 100%;
}


.portfolio article {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
}

.portfolio article figure {
    width: 500px;
    height: 200px;
    display: flex;
    margin: 10% 0 0 0;
    justify-content: center;
}

.unplugged-pic {
    margin: 0;
    background: url(../img/unplugged.jpg) center top no-repeat #263948;
    background-size: contain;
    padding-bottom: 25%;
}
.magicball-pic {
    margin: 0;
    background: url(../img/magic.jpg) center top no-repeat #263948;
    background-size: contain;
    padding-bottom: 25%;
}
.lolcat-pic {
    margin: 0;
    background: url(../img/lolcat.gif) center top no-repeat #263948;
    background-size: contain;
    padding-bottom: 25%;
}

.jubilee-pic {
    margin: 0;
    background: url(../img/jubilee.jpg) center top no-repeat #263948;
    background-size: contain;
    padding-bottom: 25%;
}

.rogue-pic {
    margin: 0;
    background: url(../img/rogue.jpg) center top no-repeat #263948;
    background-size: contain;
    padding-bottom: 25%;
}


.jubilee h2 {
    margin: 0 0 50px 0;
}

h3 {
    Margin: 0;
}

span {
    color: #ED553B;
}


/* ABOUT */

.about {
    display: flex;
    background: url("../img/about-me.png") center no-repeat #263948 ;
    background-size: cover;
    flex-flow: row nowrap;
}

.about article h2 {
    margin: 2% 0 25px 10px;
    text-align: center;
}

.about article h3 {
    padding-left: 2%;
}

.about-body {
    display: flex;
    width: 75%;
    font-size: .875rem;
}

.about article p {
    padding: 0 10% 1% 2%;
    font-size: .875rem;
}

/* -------------- MOBILE STYLES - RESUME PAGE  -------------- */
/*-------- BASE --------*/

.about-resume, .main-resume {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.edu-container,
.work-container, 
.accomplishments,
.about-resume {
    display: flex;
    margin: 2.5% 5%;
    flex-flow: row wrap;
    width: 75%
}

.edu-container div {
    padding: 2% 0;
}

.indent {
    padding-left: 5%;
}

h5 {
    font-size: 1.25em;
    width: 100%;
}

/*-------- HEADER --------*/

.header {
    background: url(../img/hero2-pond.jpg) no-repeat center #263948;
    flex-flow: row nowrap;  

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
.container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
  
.container h1 {
    color: white;
    font-size: 3.75em;
    font-weight: bold;
    padding: 35% 5% 10% 5%;
    margin: 0;
    width: 90%;
    text-shadow: 3px -4px 20px black;
    display: flex;
    justify-content: center;
}

.container article .fontawesome-icon {
    font-size: 2rem;
    display: flex;
    flex-flow: row nowrap;
}

.container article p {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
}
  
.header h3,
.header h3 a {
    font-size: 20px;
    color: black;
    padding: 20% 0 0 0;
}
  
.header h3 a:hover {
    color: rgb(240, 240, 145);
}
  
/*-------- ABOUT --------*/

.resume-body {
background-color: gray;
}

.about-resume {
    background: #2c3e50;
    padding: 5%;
    color: white;
    display: flex;
    align-content: center;
    width: 70%;
    margin-top: 5%;
} 

.about-resume .container {
    display: flex;
    justify-content: flex-start;
}

.about-resume h5 {
    margin: 5% 0;
}

.about-resume i {
    color: white;
    font-size: 1em;
    margin-bottom: 5%;
}

/*-------- EDUCATION --------*/

/* Bar Separating Sections  */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;  
}

.edu-container, .work-container, .accomplishments {
    color: black;
    background-color: white;
    padding-left: 5%;
}

.edu-container a {
    color: #263948;
  
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
  
.container p a {
    color: white;
    font-weight: normal;
    font-size: .75em;
}

.email-resume a {
    color: white;
}
  
/*-------- WORK --------*/
.work-container li {
    font-weight: lighter;
    list-style-type: none;
}
    
.work-container h6 {
    font-size: 1em;
    margin: 2.44em 0 1.12em 0;
}

.work-container h5 {
    margin-bottom: 1%;
}

.work-container i {
    color: black;
    font-size: .875em;
}

strong {
    color: #ED553B;
}


/* ==========================================================================
   Media Queries for responsive design - override the primary ('mobile first') styles.
   ========================================================================== */
/* ==========================================================================
   Media Queries for responsive design - override the primary ('mobile first') styles.
   ========================================================================== */
/* ==========================================================================
   Media Queries for responsive design - override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /* Tablet Breakpoint */
    
    /* Homepage styles */

.hero {
    display: flex;
    justify-content: center;
}

.hero h1 {
    width: 80%;
    font-size: 3.25rem;
}

.text {
    width: 35%;
    margin: 50px 0;
}

.text p {
    font-size: .875em;
}

.portfolio article figure {
    width: 60%;
    padding: 0 0;
    margin: 50px 0;
}

.portfolio article {
    justify-content: space-between;
}

/* About */

.about-body {
    width: 70%
}

/* Footer */

.email, 
.social-links {
    width: 100%;
    margin-top: 5%;
    font-size: 1.5rem;
}


/* Resume Page Tablet Styles */
/* Resume Page Tablet Styles */
/* Resume Page Tablet Styles */



@media only screen and (min-width: 1200px) {
    /* Desktop Breakpoint */
    
    /* Homepage styles */

html {
    font-size: 1.5rem;
}

.hero h1 {
    font-size: 3rem;  
    justify-content: center; 
    text-align: center;
}

/* Portfolio */

.portfolio h2 {
    margin: 5% 0;
}

.text {
    font-size: .75em;
}


/* About */ 

.about-body {
    font-size: 1em;
    width: 68%;
}

.about article p {
    padding-top: 3%;
}    

/* Footer */

.fontawesome-icon i {
    font-size: 1.5em;
}

.email, 
.social-links {
    width: 100%;
    padding: 0;
}

label {
    width: 100%;
}

form {
    margin: 0;
}


/* Resume Page Tablet Styles */
/* Resume Page Tablet Styles */
/* Resume Page Tablet Styles */

.edu-container div {
    width: 100%;
}

.ud ul li, .letu ul li {
    color: black;
}